{% extends "trippy/base.html" %}

    <div class="row" style="float: center">
        <h2>{{ Cancel your Order }}</h2>
        <h3> If you were satisfied with your purchase please fill out the fields with your order information you received
        	at the confirmation page </h3>
    </div>

    <div style="color: red;">
        {{ form.non_field_errors }}
    </div>


    {% for field in form.visible_fields %}
        <div class="form-group">
            <div style="color: red;">
                {{ field.errors }}
            </div>
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}