{% extends "trippy/base.html" %}
{% load static %}

{% block content %}
    <div class="center-body">
        <img src="{% static 'trippy/trippy_white.png' %}">
    </div>

    <section>
        <h2>About</h2>
        <p>
        Our mission at Trippy is to provide a <mark style="background-color: #fcf8e3;">beary</mark> good travel experience.
        Our selected team of professional developers, designers, and travel agents will
        personally cater to your user and travel needs. Here at <mark style="background-color: #f7e8e8;">Trippy</mark>, we make planning your trip a little more
         <mark style="background-color: #fcf8e3;">bearable</mark>.
        </p>
        <br>

        <h2>Our Team</h2>
        <ul>
            <li>Steven Li</li>
            <li>Tina Zheng</li>
        </ul>
    </section>
{% endblock %}
