{% extends "trippy/base.html" %}


{% block content %}
    {% load widget_tweaks %}
    {% csrf_token %}

    {% if rtype == 'flight' %}
    <div class="row">
        <div style="float: left; width: 50%">
        <h5>Flight Type</h5>
        {{ trip }} <br>
        <h5>Departure Information</h5>
        {{ sdate }} <br>
        From {{ srcName }} <br>
        To {{ destName }}
    	</div>
    	<div style="float: left; width: 50%">
    	<h5>Ticket Type</h5>
        {{ tickets }} {{ ticket_type }}<br>
        {% if trip != 'One Way' %}
            <h5>Return Information</h5>
            {{ rdate }} <br>
            From {{ destName }} <br>
            To {{ srcName }}
        {% endif %}
    	</div>
    </div>

    <br>
    <div class="row" style="float: center">
        {% if to == 'true' %}
            {% if dflights != None %}
            <h2> Select a Departing Flight</h2> <br>
            {% for flight in dflights %}
            <div style="width: 100%">
                {% if trip == 'One Way' %}
                <a href = '/passenger/?type=flight&trip={{trip}}&class={{ticket_type}}&tickets={{tickets}}&toflight={{flight.pk}}&num=1'>
                {% else %}
                <a href = '/information/?type=flight&to=false&trip={{trip}}&class={{ticket_type}}&tickets={{tickets}}&src={{src}}&srcdate={{sdate}}&dest={{dest}}&retdate={{rdate}}&toflight={{flight.pk}}'>
                {% endif %}
                <br>
                <div style="float: left; width: 60%">
                    {{ flight.FlightCarrier }} <br>
                    {{ flight.FlightNumber }} <br>
                    {{ flight.DepartureTime }} - {{ flight.ArrivalTime}}
                </div>
                <div style="float: right; text-align: center; width: 30%"> 
                    <br>
                    <h5> ${% widthratio flight.FlightPrice 1 classratio %} </h5> 
                    <br>
                </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
                <h2> No departing flights fit your search </h2><br>
                <h3> Please go back and change your search to find flights <h3><br>
                <a href='/flights' style='float: center'>Go Back</a>
            {% endif %}
        {% else %}
            {% if rflights != None %}
            <h2> Returning Flights </h2> <br>
            {% for flight in rflights %}
            <div style="width: 100%">
                <br>
                <a href = '/passenger/?type=flight&trip={{trip}}&class={{ticket_type}}&tickets={{tickets}}&toflight={{toflight}}&fromflight={{flight.pk}}&num=1'> 
                <div style="float: left; width: 60%">
                    {{ flight.FlightCarrier }} <br>
                    {{ flight.FlightNumber }} <br>
                    {{ flight.DepartureTime }} - {{ flight.ArrivalTime}}
                </div>
                <div style="float: right; text-align: center; width: 30%"> 
                    <br>
                    <h5> ${% widthratio flight.FlightPrice 1 classratio %} </h5> 
                    <br>
                </div>
                </a>

            </div>
            {% endfor %}
            {% else %}
                <h2> No return flights fit your search </h2><br>
                <h3> Please go back and change your search to find flights <h3><br>
                <h3> or proceed with an one way flight </3>
                <a href='/flights' style='float: center'>Go Back</a>
                <a href='/passenger/?type=flight&trip=One%20Way&class={{ticket_type}}&tickets={{tickets}}&toflight={{toflight}}&num=1'>Proceed</a>
            {% endif %}
        {% endif %}
    {% elif rtype == 'accomodation' %}
    <div class="row">
        <div style="float: left; width: 50%">
        <h5>Number of Rooms</h5>
        {{ rooms }} Rooms<br>
        <h5>Number of Guests</h5>
        {{ guests }} Guests<br>
        <h5>Location</h5>
        {{ loc }} <br>
        </div>
        <div style="float: left; width: 50%">
        <h5>Check In Date</h5>
        {{ checkin }}<br>
        <h5>Check Out Date</h5>
        {{ checkout}}
        </div>
    </div>
    {% endif %}

{% endblock %}
